<?xml version="1.0" encoding="utf-8" ?>
<phpunit>
   <testsuites>
     <testsuite name="ValidatorTest">
      <directory suffix="Test.php">./tests/Unit/Source/Validator</directory>
    </testsuite>

    <testsuite name="UserTest">
        <directory suffix="Test.php">./tests/Unit/Model/User/SendTest.php</directory>
    </testsuite>

    <testsuite name="NormalizerTest">
        <directory suffix="Test.php">./tests/Unit/Source/Normalizer</directory>
    </testsuite>

    <!--<testsuite name="MessageTest">
        <directory suffix="Test.php">./tests/Unit/Model/Message</directory>
    </testsuite>

        <testsuite name="BlogControllerTest">
            <directory suffix="Test.php">./tests/Unit/Controller/Blog</directory>
        </testsuite>

        <testsuite name="UserControllerTest">
            <directory suffix="Test.php">./tests/Unit/Controller/User</directory>
        </testsuite>-->

    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./app</directory>
            <directory suffix="Normalizer.php">./src</directory>
            <directory suffix="Validator.php">./src</directory>
        </whitelist>

    </filter>

    <filter>
        <blacklist>

        </blacklist>
    </filter>
</phpunit>