ok<br>
Имя состоит из недостаточного числа символов<br>
Пароль состоит из недостаточного числа символов<br>
Такой email уже существует<br>
Такое имя уже существует<br>
Некорректный email<br>
Такого пользователя не существует или пароль неверный<br>
Пароли в форме не совпадают<br>
Поле email не может быть пустым<br>
Поле с именем не может быть пустым<br>
Поле с паролем не может быть пустым<br>
Заполнены не все поля<br>
Такого пользователя не существует или пароль неверный<br>
Такого пользователя не существует или пароль неверный<br>
Вы не авторизованы<br>
Текст сообщения не может быть пустым<br>
Такой тип изображения не поддерживается<br>
Пароль имеет слишком большое число символов<br>
Имя имеет слишком большое число символов<br>
Сообщение имеет слишком большое число символов<br>
Email имеет слишком малое число символов<br>
Email имеет слишком большое число символов<br>
Такого пользователя не существует или пароль неверный<br>
Ошибка отправки сообщения<br>
Ошибка отправки файла<br>
Ошибка  удаление пользователя<br>
Ошибка  удаления сообщений пользователя<br>
Текст сообщения состоит из слишком малого числа символов<br>
<br>
Такого пользователя не существует<br>
Такое имя уже существует<br>
Такой email уже существует<br>